<% @result.each do |item| %>
  <%= item.inspect %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Cancel</th>
    </tr>
  </thead>
  <tbody>
  <% @result.each do |item| %>
    <tr>
      <th scope="row">1</th>
      <td><%= item.name %></td>
      <td><%= item.level %></td>
      <td><%= item.price %></td>
      <td><button class="btn btn-outline-warning">Status</button></td>
      <td><button class="btn btn-danger">Cancel</button></td>
    </tr>
  <% end %>
  </tbody>
</table>
