<section>
  <div class="container">
    <div class="row g-3 mt-3">
      <div class="col-4">
        <%= render "rooms/filter" %>
      </div>
      <div class="col-8">
        <div class="row g-3">
          <%= render(@rooms, cardclass: "col-3", show_image: true) if @rooms.any? %>
        </div>
      </div>
      <div class="col-12">
        <%= render "shared/paginate", object: @rooms %>
      </div>
    </div>

  </div>
</section>
