<%= render "staff/bookings/filter" %>
<hr/>
<%= render("shared/paginate", object: @bookings) if @bookings.any? %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">user</th>
      <th scope="col">details</th>
      <th scope="col">status</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @bookings if @bookings.any? %>
  </tbody>
</table>
